@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');


body {
    background-color: black;
    background-size: cover;
    display: flex;
    margin: 0 auto; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    color: white;
}

h1 {
    font-size: 50px;  
}

.info {
    display: flex;
    width: 100%;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 5%;
}


li {
    list-style-type: none;
}

a {
    color: red;
    text-decoration: none;
}

.info p {
    color: black;
    width: 25%;
    padding: 5%;
}

h2 {
    font-weight: lighter;
}
.opdrachten {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.opdracht {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin: 5%;
    width: 20%;
}

nav {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.nav {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;

}
